.env
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
*.nupkg
*.snupkg
packages/
*.nuget
*.log
*.GeneratedMSBuildEditorConfig.editorconfig
/app/publish/
/app/build/
Thumbs.db
.DS_Store
*.cache.json
*.sourcelink.json
*.FileListAbsolute.txt