# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.

services:
  monarch:
    image: monarch
    build:
      context: .
      dockerfile: app/src/Monarch/Dockerfile
    ports:
      - 8080:8080
    depends_on:
      sqlserver:
        condition: service_healthy
    secrets:
      - monarch_sql_monarch_password
  monapi-worker:
    image: monapi-worker
    build:
      context: .
      dockerfile: app/src/Monapi.Worker/Dockerfile
    depends_on:
      sqlserver:
        condition: service_healthy
    secrets:
      - monarch_sql_monapi_password
      - monarch_newrelic_api_key
      - monarch_nagios_api_details
      - monarch_jira_api_key
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD_FILE: /run/secrets/monarch_sql_sa_password
      # MSSQL_TLS_CERT:
      # MSSQL_TLS_KEY:
      # MSSQL_TLS_PROTOCOLS: 1.2,1.3
    ports:
      - 1433:1433
    volumes:
      - sqlserverdata:/var/opt/mssql
      - ./initdb/setup.sql:/usr/config/setup.sql
      - ./initdb/initdb.sh:/usr/config/initdb.sh
    command: /bin/bash -c "./usr/config/initdb.sh"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -N -C -h -1 -t 1 -U SA -P \"$(cat /run/secrets/monarch_sql_sa_password)\" -Q \"SET NOCOUNT ON; SELECT SUM(state) FROM sys.databases\" | tr -d ' \\r\\n' | grep -q '^0$'"]
      interval: 5s
      retries: 20
    secrets:
      - monarch_sql_sa_password
      - monarch_sql_monarch_password
      - monarch_sql_monapi_password
volumes:
  sqlserverdata:
secrets:
  monarch_sql_sa_password:
    # external: true
    file: ./.credentials/sql_sa_password.txt # development only
  monarch_sql_monarch_password:
    # external: true
    file: ./.credentials/sql_monarch_password.txt # development only
  monarch_sql_monapi_password:
    # external: true
    file: ./.credentials/sql_monapi_password.txt # development only
  monarch_newrelic_api_key:
    # external: true
    file: ./.credentials/newrelic_api_key.txt # development only
  monarch_nagios_api_details:
    # external: true
    file: ./.credentials/nagios_api_key.txt # development only
  monarch_jira_api_key:
    # external: true
    file: ./.credentials/jira_api_key.txt # development only
  monarch_slack_webhooks:
    # external: true
    file: ./.credentials/slack_webhooks.json # development only