# Devon Nelson
#
# Docker Compose file defining complete container stack:
#   - monarch (Blazor WebApp container)
#   - monapi-worker (Async service worker)
#   - sqlserver (Microsoft SQL Server container)
#   - keycloak (KeyCloak)
#
# The compose includes:
#   - Images and build contexts
#   - Port exposure definitions
#   - Persistent volume attachment
#       - SQL databases
#       - KeyCloak realm configuration
#       - Initialization scripts
#   - Secrets management via Docker Secrets
#       - text files are used for testing and development, these have been included in
#         .gitignore
#       - In production, external flags will be set to allow secure secret injection
#   - Service health checks to prevent premature database calls
#   - Environment variables

services:
  monarch:
    image: monarch
    build:
      context: .
      dockerfile: app/src/Monarch/Dockerfile
    ports:
      - 443:443
    environment:
      - TLS_CERT: /certificate/cert.crt
      - TLS_KEY: /certificate/key.crt
    depends_on:
      sqlserver:
        condition: service_healthy
      monarch-certificate-provider:
        condition: service_completed_successfully
    volumes:
      monarch_certificate:/certificate
    secrets:
      - monarch_sql_monarch_password
      - monarch_oidc_client_secret
  monapi-worker:
    image: monapi-worker
    build:
      context: .
      dockerfile: app/src/Monapi.Worker/Dockerfile
    depends_on:
      sqlserver:
        condition: service_healthy
      monarch-certificate-provider:
        condition: service_completed_successfully
    secrets:
      - monarch_sql_monapi_password
      - monarch_newrelic_api_key
      - monarch_nagios_api_details
      - monarch_jira_api_key
      - newrelic_account_number
      - monarch_simulator_api_key
    environment:
      nagios_uri: https://nxi.455garage.com/nagiosxi/ # 1:1 match with external URL in General Program Settings
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD_FILE: /run/secrets/monarch_sql_sa_password
      MSSQL_TLS_CERT: /certificate/cert.crt
      MSSQL_TLS_KEY: /certificate/key.crt
      MSSQL_TLS_PROTOCOLS: 1.2,1.3
    ports:
      - 1433:1433
    volumes:
      - sqlserverdata:/var/opt/mssql
      - sql_certificate:/certificate
      - ./initdb/setup.sql:/usr/config/setup.sql
      - ./initdb/initdb.sh:/usr/config/initdb.sh
    command: /bin/bash -c "./usr/config/initdb.sh"
    depends_on:
      monarch-certificate-provider:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -N -C -h -1 -t 1 -U SA -P \"$(cat /run/secrets/monarch_sql_sa_password)\" -Q \"SET NOCOUNT ON; SELECT SUM(state) FROM sys.databases\" | tr -d ' \\r\\n' | grep -q '^0$'"]
      interval: 5s
      retries: 20
    secrets:
      - monarch_sql_sa_password
      - monarch_sql_monarch_password
      - monarch_sql_monapi_password
      - monarch_sql_keycloak_password
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_DB: mssql
      KC_DB_URL: jdbc:sqlserver://sqlserver:1433;databaseName=keycloak;encrypt=false;trustServerCertificate=true;
      KC_DB_USERNAME: keycloak
      KC_HTTP_ENABLED: 'true'
      KC_PROXY: 'edge' 
      KC_HOSTNAME_STRICT: 'false'
      KC_TLS_ENABLED: 'true'
      KC_TLS_CERT: /certificate/cert.crt
      KC_TLS_KEY: /certificate/key.crt
    entrypoint: /bin/bash
    command: -c "export KC_DB_PASSWORD=$(cat /run/secrets/monarch_sql_keycloak_password) && /opt/keycloak/bin/kc.sh import --file /opt/keycloak/data/import/realm.json && /opt/keycloak/bin/kc.sh start-dev"
    ports:
      - 8081:8080
    volumes:
      - ./keycloak/realm.json:/opt/keycloak/data/import/realm.json
      - keycloak_certificate:/certificate
    depends_on:
      sqlserver:
        condition: service_healthy
      monarch-certificate-provider:
        condition: service_completed_successfully
    secrets:
      - monarch_sql_keycloak_password
  mon-ca:
    image: smallstep/step-ca
    networks:
      - ca-net
    healthcheck:
      test: ["CMD", "curl", "-f", "https://localhost:9000/health"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes: mon-ca_config:/home/step
    environment:
      - DOCKER_STEPCA_INIT_NAME: "MON-CA"
      - DOCKER_STEPCA_INIT_DNS_NAMES: "mon-ca"
      - DOCKER_STEPCA_INIT_PASSWORD_FILE: /run/secrets/mon-ca_key
    secrets:
      - mon-ca_key
  monarch-certificate-provider:
    image: smallstep/step-cli
    networks:
      - ca-net
    depends_on:
      mon-ca:
        condition: service_healthy
    volumes:
      - sql_certificate:/certificates/sql
      - monarch_certificate:/certificates/monarch
      - keycloak_certificate:/certificates/keycloak
volumes:
  sqlserverdata:
  mon-ca_config:
  sql_certificate:
  monarch_certificate:
  keycloak_certificate:
secrets:
  monarch_sql_sa_password:
    # external: true
    file: ./.credentials/sql_sa_password.txt # development only
  monarch_sql_monarch_password:
    # external: true
    file: ./.credentials/sql_monarch_password.txt # development only
  monarch_sql_monapi_password:
    # external: true
    file: ./.credentials/sql_monapi_password.txt # development only
  monarch_sql_keycloak_password:
    # external: true
    file: ./.credentials/sql_keycloak_password.txt # development only
  monarch_newrelic_api_key:
    # external: true
    file: ./.credentials/newrelic_api_key.txt # development only
  monarch_nagios_api_details:
    # external: true
    file: ./.credentials/nagios_api_key.txt # development only
  monarch_jira_api_key:
    # external: true
    file: ./.credentials/jira_api_key.txt # development only
  monarch_slack_webhooks:
    # external: true
    file: ./.credentials/slack_webhooks.json # development only
  monarch_oidc_client_secret:
    # external: true
    file: ./.credentials/oidc_client_secret.txt # development only
  newrelic_account_number: 
    # external: true
  file: ./.credentials/newrelic_account_number.txt # development only
  monarch_simulator_api_key: # development only
    file: ./.credentials/monarch_simulator_api_key.txt
  mon-ca_key:
    # external: true
    file: ./.credentials/mon-ca_key.txt # development only
