@* 
Brady Brown
Test Connection for Database and frontend
    - Used before dashboard layout was created to test database functionality
    - Will be removed in later updates
    - Uses an sqlconnectiono to display a simple table of the specified database
*@


@page "/database"

<h3>Database Apps</h3>

@if (apps == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr><th>Name</th><th>Status</th></tr>
        </thead>
        <tbody>
        @foreach (var app in apps)
        {
            <tr>
                <td>@app.Name</td>
                <td>@app.Status</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<AppInfo>? apps;

    protected override async Task OnInitializedAsync()
    {
        await LoadAppsAsync();
    }

    private async Task LoadAppsAsync()
    {
        string password = File.ReadAllText("/run/secrets/monarch_sql_monarch_password");      
        var connectionString = $"Server=sqlserver,1433;Database=monapi;User Id=monarch;Password={password};TrustServerCertificate=True;";
        var result = new List<AppInfo>();

        using (var connection = new SqlConnection(connectionString))
        {
            await connection.OpenAsync();
            var cmd = new SqlCommand("SELECT resourceName, currentStatus FROM sampleTable", connection);
            using (var reader = await cmd.ExecuteReaderAsync())
            {
                while (await reader.ReadAsync())
                {
                    result.Add(new AppInfo
                    {
                        Name = reader.GetString(0),
                        Status = reader.GetString(1)
                    });
                }
            }
        }

        apps = result;
    }

    public class AppInfo
    {
        public string Name { get; set; } = "";
        public string Status { get; set; } = "";
    }
}
